---
title: Рецепты
image_view: true
---
<h1>Рецепты</h1>



{% if page.image_view %}
	{% for category in site.categories %}
		{% if category[0] != "Советы" %}
			<h2>{{ category[0] }}</h2>
			<div class="recipes">
				{% for recipe in category[1] %}
					<div class="recipe" style="background-image: url('{{ recipe.featured_image }}')">
						<a href="{{ recipe.url | relative_url }}"><span>{{ recipe.title }}</span></a>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
{% endif %}
